<form #customForm="ngForm" (ngSubmit)="submit()" class="px-3">
  <div class="mb-2 w-full">
    <label for="password" class="font-bold">Password</label>
    <p-password
      [style]="{ width: '100%', 'padding-block': '0.5rem' }"
      [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
      [(ngModel)]="passwordString"
      name="password"
      [toggleMask]="true"
      [feedback]="false"
      [required]="true"
    >
    </p-password>
    <span
      *ngIf="errors.get('current_password') && passwordString != null"
      class="text-red-400"
      >{{ errors.get("current_password") }}</span
    >
  </div>
  <div class="mb-2 w-full">
    <label for="currentAccountNumber" class="font-bold"
      >Current Account Number</label
    >
    <input
      pInputText
      [style]="{ 'margin-block': '0.5rem' }"
      class="w-full py-2"
      name="currentAccountNumber"
      [(ngModel)]="authUser.payment_account_list[0].payment_account"
      disabled
    />
  </div>
  <div class="mb-2 w-full">
    <label for="newAccountNumber" class="font-bold"
      >New BCA Account Number</label
    >
    <input
      pInputText
      [style]="{ 'margin-block': '0.5rem' }"
      class="w-full py-2"
      name="newAccountNumber"
      [(ngModel)]="newAccountNumber"
      [pKeyFilter]="accountNumberRegex"
    />

    <!-- check the ngModel binding variable is not null to ensure that the initial state will not shown the error message -->
    <span
      *ngIf="errors.get('new_account_number') && newAccountNumber != null"
      class="text-red-400"
      >{{ errors.get("new_account_number") }}</span
    >
  </div>
  <div class="text-center w-full mt-3">
    <button
      pButton
      class="p-button-primary py-2 px-7 w-fit"
      [disabled]="customForm.invalid"
    >
      Save
    </button>
  </div>
</form>
