<div class="flex flex-column align-items-center">
  <h1>Utang Bayar Woii</h1>
  <div class="flex justify-content-between w-full" style="max-width: 40rem">
    <div
      *ngFor="let bill of bills"
      class="card bg-gray-500 flex justify-content-between w-full"
    >
      <p class="m-0">
        <span>
          <p-avatar
            styleClass="p-mr-2 "
            [style]="{
              'background-color': 'var(--pink-200)',
              color: '#ffffff',
              transform: 'scale(70%)'
            }"
            shape="circle"
            >{{ bill.owe.username | uppercase | slice: 0:1 }}</p-avatar
          >
        </span>
        <span>{{ bill.owe.username | uppercase }}</span>
      </p>
      <p class="m-0">{{ bill.owe_total | currency: "Rp. ":"symbol":"3.0" }}</p>
    </div>
  </div>
</div>
