<div class="px-3">
  <bill-header (onTapMenu)="changeDataViewContent($event)"></bill-header>
  <div class="flex flex-column align-items-center gap-2 mt-3">
    <ng-container *ngIf="bills.length > 0; else emptyBillMessage">
      <div *ngFor="let bill of bills" class="w-full h-fit text-center">
        <bill-content
          [bill]="bill"
          [isPayable]="bills == billsPayable"
          (onShowPaymentDialog)="showPaymentDialog($event)"
          (onShowRelatedOrdersDialog)="showRelatedOrdersDialog($event)"
        ></bill-content>
      </div>
    </ng-container>
    <ng-template #emptyBillMessage>
      <p>No Bills</p>
    </ng-template>
  </div>
</div>

<payment-dialog
  *ngIf="displayPaymentDialog"
  [selectedBill]="selectedBill"
  (onPay)="payBill($event)"
  (onClose)="hideDialog()"
></payment-dialog>

<related-orders-dialog
  *ngIf="displayRelatedOrdersDialog"
  [selectedBill]="selectedBill"
  [isPayable]="bills == billsPayable"
  (onClose)="hideDialog()"
></related-orders-dialog>
