<h2 class="mt-8 p-2 text-center">Your Bill List</h2>
<p-dataView [value]="orders">
    <ng-template pTemplate="header">List of Orders</ng-template>
    <ng-template let-order pTemplate="listItem">
        <div>
            {{order.name}}
        </div>
    </ng-template>
    <!-- <ng-template let-order pTemplate="gridItem">
        <div class="col-12 md:col-3">
            {{order.name}}
        </div>
    </ng-template> -->
    <ng-template pTemplate="footer">Choose from the list.</ng-template>
</p-dataView>

