<form
  #paymentForm="ngForm"
  class="flex flex-column gap-3 py-3 px-1"
  (ngSubmit)="pay()"
>
  <ng-container
    *ngIf="
      selectedBill.user.payment_account_list.length >= 0;
      else noAccountNumber
    "
  >
    <div>
      <h4 class="m-0">Transfer to</h4>
      <div
        class="flex flex-column gap-1 px-4 py-3 mt-3 border-round-md"
        style="background-color: var(--custom-light-black)"
      >
        <ng-container
          *ngIf="
            selectedBill.user.payment_account_list.length > 0;
            else noAccountSection
          "
        >
          <ng-container
            *ngFor="
              let acc of selectedBill.user.payment_account_list;
              let i = index
            "
          >
            <div
              class="flex justify-content-between border-gray-600 py-2 align-items-center"
              [class.border-top-1]="i > 0"
            >
              <div class="flex flex-column" style="letter-spacing: 0.025em">
                <div
                  class="text-xs font-semibold flex align-items-center gap-1"
                >
                  {{ acc.payment_account_label }}
                  <i
                    class="pi pi-credit-card line-height-2"
                    style="color: var(--custom-orange-300)"
                  ></i>
                </div>
                <div class="flex align-items-center">
                  <span style="color: var(--custom-orange-200)" class="pt-1">
                    {{ acc.payment_account }}
                  </span>
                </div>
              </div>
              <copy-button [stringToBeCopy]="acc.payment_account"></copy-button>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #noAccountSection>
          <p>This user hasn't set any account number yet</p>
        </ng-template>
      </div>
    </div>
  </ng-container>

  <ng-template #noAccountNumber>
    <h4 class="m-1">User's account number has not been set</h4>
  </ng-template>

  <div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon p-2 my-2">Rp</span>
      <p-inputNumber
        [style]="{ width: '100%', 'margin-block': '0.5rem' }"
        [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
        name="totalPayment"
        #totalPayment="ngModel"
        [(ngModel)]="amount"
        mode="decimal"
        [min]="0"
        [required]="true"
        placeholder="Total payment"
        pAutoFocus
        [autofocus]="true"
      ></p-inputNumber>
    </div>
  </div>

  <div class="text-center w-full">
    <button
      pButton
      class="py-2 px-4 w-fit text-white font-italic font-bold"
      style="background-color: var(--custom-red-300)"
      [disabled]="paymentForm.invalid"
    >
      Pay now
    </button>
  </div>
</form>
