<form
  #paymentForm="ngForm"
  class="flex flex-column gap-3 p-3"
  (ngSubmit)="pay()"
>
  <ng-container
    *ngIf="
      selectedBill.user.payment_account_list.length >= 0;
      else noAccountNumber
    "
  >
    <div>
      <h4 class="m-0">Transfer to</h4>
      <div class="flex flex-column align-items-center gap-3">
        <ng-container
          *ngIf="
            selectedBill.user.payment_account_list.length > 0;
            else noAccountSection
          "
        >
          <ng-container
            *ngFor="let acc of selectedBill.user.payment_account_list"
          >
            <h4 class="m-0 text-xl ml-3">
              {{ acc.payment_account }}
            </h4>
            <copy-button [stringToBeCopy]="acc.payment_account"></copy-button>
          </ng-container>
        </ng-container>

        <ng-template #noAccountSection>
          <p>This user has not set account number yet</p>
        </ng-template>
      </div>
    </div>
  </ng-container>

  <ng-template #noAccountNumber>
    <h4 class="m-1">User's account number has not been set</h4>
  </ng-template>

  <div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon p-2 my-2">Rp</span>
      <p-inputNumber
        [style]="{ width: '100%', 'margin-block': '0.5rem' }"
        [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
        name="totalPayment"
        #totalPayment="ngModel"
        [(ngModel)]="amount"
        mode="decimal"
        [min]="0"
        [required]="true"
        placeholder="Total payment"
      ></p-inputNumber>
    </div>
  </div>

  <div class="text-center w-full">
    <button
      pButton
      class="py-2 px-4 w-fit text-white font-italic font-bold"
      style="background-color: var(--custom-red-300)"
      [disabled]="paymentForm.invalid"
    >
      Pay now
    </button>
  </div>
</form>
