<form #customForm="ngForm" class="px-3" (ngSubmit)="submit()">
  <div class="mb-2 w-full">
    <label for="currentPassword" class="font-bold">Current Password</label>
    <p-password
      [style]="{ width: '100%', 'padding-block': '0.5rem' }"
      [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
      [(ngModel)]="currentPasswordString"
      name="currentPassword"
      [toggleMask]="true"
      [feedback]="false"
      required
      #currentPassword="ngModel"
    >
    </p-password>
    <!--check the ngModel binding variable is not null to ensure that the initial state will not shown the error message-->
    <span
      *ngIf="errors.get('current_password') && currentPasswordString != null"
      class="text-red-400"
      >{{ errors.get("current_password") }}</span
    >
  </div>
  <div class="mb-2 w-full">
    <label for="newPassword" class="font-bold">New Password</label>
    <p-password
      [style]="{ width: '100%', 'padding-block': '0.5rem' }"
      [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
      [(ngModel)]="newPasswordString"
      name="newPassword"
      [toggleMask]="true"
      [feedback]="true"
      minlength="8"
      required
      #newPassword="ngModel"
    >
    </p-password>
    <span
      *ngIf="
        newPassword.invalid &&
        (newPassword.dirty || newPassword.touched) &&
        newPasswordString != null
      "
      class="text-red-400"
      >*Must be at least 8 characters</span
    >
    <span *ngIf="errors.get('new_password')" class="text-red-400">{{
      errors.get("new_password")
    }}</span>
  </div>
  <div class="mb-2 w-full">
    <label for="confirmPassword" class="font-bold">Confirm Password</label>
    <p-password
      [style]="{ width: '100%', 'padding-block': '0.5rem' }"
      [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
      [(ngModel)]="confirmPasswordString"
      name="confirmPassword"
      [toggleMask]="true"
      [feedback]="false"
      minlength="8"
      required
      #confirmPassword="ngModel"
    >
    </p-password>
    <span
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched) &&
        confirmPasswordString != null
      "
      class="text-red-400"
      >*Must be at least 8 characters</span
    >
    <span *ngIf="errors.get('confirm_password')" class="text-red-400">{{
      errors.get("confirm_password")
    }}</span>
  </div>
  <div class="text-center w-full mt-3">
    <button
      pButton
      class="p-button-primary py-2 px-7 w-fit"
      [disabled]="customForm.invalid"
    >
      Save
    </button>
  </div>
</form>
