<form #customForm="ngForm" class="px-3" (ngSubmit)="submit()">
  <div class="mb-2 w-full text-left">
    <p-password
      [style]="{ width: '100%', 'padding-block': '0.5rem' }"
      [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
      [(ngModel)]="password"
      name="currentPassword"
      [toggleMask]="true"
      [feedback]="false"
      required
      #passwordInput="ngModel"
      placeholder="Confirm with password"
    >
    </p-password>
    <span
      *ngIf="
        errors.get('current_password') ||
        (passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched) &&
          password != null)
      "
      class="text-red-400"
      >*{{ errors.get("current_password") ?? "Must be filled" }}</span
    >
  </div>
  <div class="text-center w-full mt-3">
    <button
      pButton
      class="p-button-primary py-2 px-7 w-fit"
      [disabled]="customForm.invalid"
    >
      Confirm
    </button>
  </div>
</form>
