<div
  class="flex flex-column gap-2 p-3 bg-black-alpha-20 border-round"
  style="color: var(--custom-orange-50)"
>
  <div class="border-bottom-1 border-500 pb-2">
    <h5 class="text-lg font-bold text-primary m-1">Order Summary</h5>
    <div *ngFor="let user of selectedOrder.order_detail_group_by_user">
      <div>
        <p class="my-1 p-1 text-xs text-secondary font-italic">
          {{ user.username }}
        </p>
      </div>
      <div
        *ngFor="let subOrder of user.user_orders"
        class="flex align-items-center pl-3 pb-1"
      >
        <p class="text-sm m-0 mr-2" style="color: var(--custom-orange-100)">
          {{ subOrder.qty }}x
        </p>
        <div
          class="flex gap-5 justify-content-between align-items-center w-full"
        >
          <div>
            <p class="text-sm m-0">{{ subOrder.order_menu_desc }}</p>
          </div>
          <div>
            <p class="text-sm m-0 font-italic">
              {{ subOrder.qty * subOrder.price | currency: "Rp ":"":"1.0-0" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-2" style="border-bottom: 1.5px solid var(--custom-orange-300)">
    <div class="flex justify-content-between">
      <p class="m-0 text-sm">Order fee</p>
      <p class="m-0 text-sm font-italic">
        {{
          selectedOrder.total_order_amount | currency: "Rp ":"symbol":"1.0-0"
        }}
      </p>
    </div>
    <div class="flex justify-content-between">
      <p class="m-0 text-sm">Others fee</p>
      <p class="m-0 text-sm font-italic">
        {{ selectedOrder.other_fee | currency: "":"":"1.0-0" }}
      </p>
    </div>
    <div class="flex justify-content-between text-green-400">
      <div>
        <p class="m-0 text-sm">Discount ({{ selectedOrder.discount }}%)</p>
        <h6 class="m-0 px-1 font-italic text-white">
          *Up to {{ selectedOrder.upto | currency: "":"":"1.0-0" }}
        </h6>
      </div>
      <p class="m-0 text-sm font-italic">
        - {{ selectedOrder.discount_amount | currency: "":"":"1.0-0" }}
      </p>
    </div>
  </div>

  <div
    class="flex justify-content-between pb-2 mb-2"
    style="
      border-bottom: 1.5px solid var(--custom-orange-300);
      color: var(--custom-orange-300);
    "
  >
    <p class="m-0 text-sm">Total Price</p>
    <p class="m-0 font-italic">
      {{ selectedOrder.total_payment | currency: "Rp ":"symbol":"1.0-0" }}
    </p>
  </div>
</div>
