<div class="flex flex-column align-items-center gap-2 mt-3">
  <ng-container *ngIf="bills.length > 0; else emptyBillMessage">
    <div
      *ngFor="let bill of bills"
      class="card p-0 flex justify-content-between w-full border-round-left"
      style="background: var(--custom-light-black)"
    >
      <div
        class="px-3 py-2 flex justify-content-between align-items-end w-full"
      >
        <div>
          <p class="m-0 text-sm">
            <span>
              <p-avatar
                styleClass="p-mr-2 "
                [style]="{
                  'background-color': 'var(--pink-200)',
                  color: '#ffffff',
                  transform: 'scale(70%)'
                }"
                shape="circle"
                >{{ bill.user.username | uppercase | slice: 0:1 }}</p-avatar
              >
            </span>
            <span>{{ bill.user.username | uppercase }}</span>
          </p>
          <h3
            class="m-0 ml-5 font-italic"
            style="color: var(--custom-orange-200)"
          >
            {{ bill.owe_amount | currency: "Rp. ":"symbol":"1.0-0" }}
          </h3>
        </div>
        <button
          pButton
          class="p-button-link m-0 text-secondary text-right font-italic"
          (click)="showRelatedOrdersDialog(bill)"
        >
          see details
        </button>
      </div>
      <button
        *ngIf="isPayable"
        pButton
        class="p-button p-button-sm text-center border-noround border-round-right font-bold"
        style="background: var(--custom-orange-300); aspect-ratio: 1"
        (click)="showPaymentDialog(bill)"
      >
        Pay now
      </button>
    </div>
  </ng-container>
  <ng-template #emptyBillMessage>
    <p>No Bills</p>
  </ng-template>
</div>

<payment-dialog
  *ngIf="displayPaymentDialog"
  [selectedBill]="selectedBill"
  (onPay)="payBill($event)"
  (onClose)="hideDialog()"
></payment-dialog>

<related-orders-dialog
  *ngIf="displayRelatedOrdersDialog"
  [selectedBill]="selectedBill"
  [isPayable]="isPayable"
  (onClose)="hideDialog()"
></related-orders-dialog>
