<form
  #paymentForm="ngForm"
  class="flex flex-column gap-3 p-3"
  (ngSubmit)="pay()"
>
  <ng-container
    *ngIf="selectedBill.user.account_number != null; else noAccountNumber"
  >
    <div>
      <h4 class="m-0">Transfer to</h4>
      <div class="flex align-items-center gap-3">
        <h4 class="m-0 text-xl ml-3">
          {{ selectedBill.user.account_number }}
        </h4>
        <copy-button
          [stringToBeCopy]="selectedBill.user.account_number"
        ></copy-button>
      </div>
    </div>
  </ng-container>

  <ng-template #noAccountNumber>
    <h4 class="m-1">User's account number has not been set</h4>
  </ng-template>

  <div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon p-2 my-2">Rp</span>
      <p-inputNumber
        [style]="{ width: '100%', 'margin-block': '0.5rem' }"
        [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
        name="totalPayment"
        #totalPayment="ngModel"
        [(ngModel)]="amount"
        mode="decimal"
        [min]="0"
        [required]="true"
        placeholder="Total payment"
      ></p-inputNumber>
    </div>
  </div>

  <div class="text-center w-full">
    <button
      pButton
      class="py-2 px-4 w-fit text-white font-italic font-bold"
      style="background-color: var(--custom-red-300)"
      [disabled]="paymentForm.invalid"
    >
      Pay now
    </button>
  </div>
</form>
