<header
  class="sticky top-0 w-full flex justify-content-between align-items-center gap-3 p-3"
  style="background-color: var(--custom-black); z-index: 200"
>
  <div class="flex gap-3">
    <p-avatar
      [style]="{
        background: 'var(--custom-orange-50)',
        color: 'black',
        'font-weight': 'bold'
      }"
      shape="circle"
      size="large"
    >
      {{ currentUser!.username | slice: 0:1 | uppercase }}
    </p-avatar>
    <div>
      <h5 class="m-0" style="color: var(--custom-red-200)">easyBill</h5>
      <h2 class="m-0">{{ currentUser!.username }}</h2>
    </div>
  </div>

  <p class="font-italic" style="color: var(--custom-red-200)">
    Rev. {{ version }}
  </p>
</header>
