<div class="card">
  <p-dataView
    #dv
    [ngStyle]="{ color: 'var(--blue-500)' }"
    [value]="orders"
    [paginator]="true"
    [rows]="9"
    filterBy="order_description,user.username"
    layout="list"
  >
    <ng-template pTemplate="header">
      <div
        class="flex flex-row justify-content-between align-items-center gap-3"
      >
        <span class="p-input-icon-left mb-0 w-full">
          <i class="pi pi-search"></i>
          <input
            class="py-1"
            type="search"
            pInputText
            placeholder="Search by buyer name or description ..."
            (input)="dv.filter(getValue($event))"
            class="w-full"
          />
        </span>
        <p-button icon="pi pi-plus" routerLink="add"></p-button>
      </div>
    </ng-template>
    <ng-template let-order pTemplate="listItem" class="flex flex-column gap-2">
      <div class="p-col-12 w-full py-2">
        <div class="order-list-item">
          <h5 class="p-0 m-0 mt-1">
            {{ order.order_at | date: "fullDate" }}
          </h5>
          <h5 class="p-0 m-0 mb-2">
            {{ order.order_at | date: "shortTime" }}
          </h5>
          <div class="order-list-detail flex">
            <div class="pr-5">
              <div>Buyer</div>
              <div>Description</div>
              <div>Total</div>
              <div>Participants</div>
            </div>
            <div>
              <div>:</div>
              <div>:</div>
              <div>:</div>
              <div>:</div>
            </div>
            <div class="pl-4">
              <div>{{ order.user.username }}</div>
              <div>{{ order.order_description }}</div>
              <div>
                {{ order.total_payment | currency: "Rp ":"symbol":"3.2" }}
              </div>
              <div></div>
            </div>
          </div>
          <div>
            <button
              pButton
              class="p-button-sm"
              type="button"
              label="Tap for details"
              (click)="onShowDetail(order)"
            ></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<dialog-order-details
  *ngIf="display"
  [selectedOrder]="selectedOrder"
  (close)="onHideDetail()"
></dialog-order-details>
