<div>
  <p-dataView
    #dv
    [style]="{ 'background-color': 'white !important' }"
    [value]="orders"
    [paginator]="true"
    [rows]="9"
    filterBy="order_description,buyer.username"
    layout="grid"
  >
    <ng-template pTemplate="header">
      <order-list-header
        [dv]="dv"
        headerTitle="Order Header"
        [withTabMenu]="true"
        (onTapMenu)="changeDataViewContent($event)"
      ></order-list-header>
    </ng-template>

    <ng-template let-order pTemplate="gridItem" class="flex flex-column gap-3">
      <div class="w-full px-5">
        <order-list-content
          [order]="order"
          (onShowDetail)="showDetail($event)"
        ></order-list-content>
      </div>
    </ng-template>
  </p-dataView>
</div>

<dialog-order-details
  *ngIf="display"
  [selectedOrder]="selectedOrder"
  [isRelevantOrder]="orders == relevantOrders"
  (close)="hideDetail()"
></dialog-order-details>
