<div>
  <p-dataView
    #dv
    [style]="{ 'background-color': 'white !important' }"
    [value]="orders"
    [paginator]="false"
    emptyMessage="No orders found..."
    layout="grid"
  >
    <ng-template pTemplate="header">
      <order-list-header
        (onTapMenu)="changeDataViewContent($event)"
        (onChangeStatusFilter)="changeStatusFilter($event)"
        (onKeywordInput)="changeKeywordInput($event)"
      ></order-list-header>
    </ng-template>

    <ng-template let-order pTemplate="gridItem" class="flex flex-column gap-3">
      <div class="w-full px-5">
        <order-list-content [order]="order"></order-list-content>
      </div>
    </ng-template>
  </p-dataView>
</div>

<popup-dialog *ngIf="dialogDisplay | async">
  <ng-container header>
    <order-detail-header></order-detail-header>
  </ng-container>
  <ng-container content>
    <ng-container *ngIf="isRelevantOrder; else yourOrderDetailContent">
      <relevant-order-detail-content
        [selectedUser]="authUser"
      ></relevant-order-detail-content>
    </ng-container>

    <ng-template #yourOrderDetailContent>
      <your-order-detail-content></your-order-detail-content>
    </ng-template>

    <order-detail-summary-content></order-detail-summary-content>
  </ng-container>
</popup-dialog>
