<p-dialog
  class="flex flex-column p-0 w-fit"
  [style]="{
    width: 'calc(100vw - 2rem)',
    'max-width': '30rem',
    'overflow-x': 'hidden'
  }"
  [modal]="true"
  [(visible)]="display"
  (onHide)="hideDialog()"
>
  <p-header>
    <p class="m-0 text-xs">Pay Now</p>
    <p class="m-0 text-xs">
      <span>to</span>
      <span>
        <p-avatar
          styleClass="p-mr-2 "
          [style]="{
            'background-color': 'var(--pink-200)',
            color: '#ffffff',
            transform: 'scale(70%)'
          }"
          shape="circle"
          >{{ selectedBill.owe.username | uppercase | slice: 0:1 }}</p-avatar
        >
      </span>
      <span>{{ selectedBill.owe.username | uppercase }}</span>
    </p>
    <h3 class="m-0 font-italic" style="color: var(--custom-orange-200)">
      {{ selectedBill.owe_amount | currency: "Rp. ":"symbol":"3.0" }}
    </h3>
  </p-header>
  <form
    #paymentForm="ngForm"
    class="flex flex-column gap-2 w-full mt-3"
    (ngSubmit)="pay()"
  >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon p-2 my-2">Rp</span>
      <p-inputNumber
        [style]="{ width: '100%', 'margin-block': '0.5rem' }"
        [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
        name="totalPayment"
        [(ngModel)]="amount"
        mode="decimal"
        [min]="0"
        [required]="true"
        placeholder="Total payment"
      ></p-inputNumber>
    </div>
    <div class="text-center w-full">
      <button
        pButton
        class="py-2 px-4 w-fit text-white font-italic font-bold"
        style="background-color: var(--custom-red-300)"
        [disabled]="paymentForm.invalid"
      >
        Pay now
      </button>
    </div>
  </form>
</p-dialog>
