<p-dialog
  class="flex flex-column p-0 w-fit"
  [style]="{
    width: 'calc(100vw - 2rem)',
    'max-width': '30rem',
    'overflow-x': 'hidden'
  }"
  header="Related Orders"
  [modal]="true"
  [(visible)]="display"
  (onHide)="hideDialog()"
>
  <p-header>
    <p class="m-0 text-xs">
      <span *ngIf="isPayable">Your bill to</span>
      <span>
        <p-avatar
          styleClass="p-mr-2 font-bold"
          [style]="{
            'background-color': 'var(--custom-green-100)',
            color: 'black',
            transform: 'scale(70%)'
          }"
          shape="circle"
          >{{ selectedBill.user.username | uppercase | slice: 0:1 }}</p-avatar
        >
      </span>
      <span
        >{{ selectedBill.user.username | uppercase }}
        <span *ngIf="!isPayable">bill to you</span>
      </span>
    </p>
    <h3 class="m-0 font-italic" style="color: var(--custom-green-300)">
      {{ selectedBill.owe_amount | currency: "Rp. ":"symbol":"1.0-0" }}
    </h3>
  </p-header>

  <div class="flex flex-column gap-3 p-3">
    <ng-container *ngIf="!isDetailSection; else detailOrder">
      <div
        *ngFor="let order of selectedBill.related_order_header; let i = index"
      >
        <related-order-content
          [order]="order"
          [index]="i"
          (onShowDetail)="showDetail($event)"
        ></related-order-content>
      </div>
    </ng-container>

    <ng-template #detailOrder>
      <div>
        <button
          pButton
          class="p-button-link p-button-sm w-fit p-0"
          (click)="backToRelatedOrders()"
        >
          back
        </button>
      </div>
      <relevant-order-detail-content
        [selectedOrder]="selectedOrder"
        [selectedUser]="isPayable ? currentUser : selectedBill.user"
      ></relevant-order-detail-content>

      <order-detail-summary-content
        [selectedOrder]="selectedOrder"
      ></order-detail-summary-content>
    </ng-template>
  </div>
</p-dialog>
