<button
  class="reset p-0 m-0 flex w-full border-round"
  style="height: 6.5rem"
  (click)="showRelatedOrdersDialog(bill)"
>
  <div
    class="p-3 flex justify-content-between align-items-end w-full h-full border-round-left border-none cursor-pointer"
    style="background: var(--custom-light-black)"
  >
    <div class="w-full">
      <p class="m-0 text-sm text-left">
        <span>
          <p-avatar
            styleClass="p-mr-2 "
            [style]="{
              'background-color': 'var(--pink-200)',
              color: '#ffffff',
              transform: 'scale(70%)'
            }"
            shape="circle"
            >{{ bill.user.username | uppercase | slice : 0 : 1 }}</p-avatar
          >
        </span>
        <span>{{ bill.user.username | uppercase }}</span>
      </p>
      <h3
        class="m-0 ml-5 font-italic text-left"
        style="color: var(--custom-orange-200)"
      >
        {{ bill.owe_amount | currency : "Rp. " : "symbol" : "1.0-0" }}
      </h3>
      <div class="w-full text-right">
        <button
          pButton
          class="p-button-link p-button-sm m-0 p-1 text-secondary text-right font-italic"
          label="see details"
          (click)="showRelatedOrdersDialog(bill)"
        ></button>
      </div>
    </div>
  </div>
  <button
    *ngIf="isPayable"
    pButton
    class="p-button p-button-sm text-center border-noround border-round-right font-bold"
    style="background: var(--custom-orange-300); height: 100% !important"
    (click)="showPaymentDialog($event, bill)"
  >
    Pay now
  </button>
</button>
