<popup-dialog>
  <ng-container header>
    <ng-container *ngIf="!isDetailSection; else detailHeader">
      <h3 class="m-0 p-0">Related Order(s)</h3>
    </ng-container>

    <ng-template #detailHeader>
      <button
        pButton
        class="button-no-outline p-button-link p-button-sm w-fit p-0 text-left outline-none my-2"
        label="back"
        (click)="hideDetail()"
      ></button>
      <order-detail-header></order-detail-header>
    </ng-template>
  </ng-container>

  <ng-container content>
    <ng-container *ngIf="!isDetailSection; else detailContent">
      <div
        *ngFor="
          let relatedOrder of selectedTransaction.bill_transaction_header_list;
          let i = index
        "
      >
        <div
          [class.border-top-1]="i > 0"
          class="w-full px-3 pt-2 pb-1 border-gray-400"
        >
          <transaction-related-order-content
            [relatedOrder]="relatedOrder"
          ></transaction-related-order-content>
        </div>
      </div>
    </ng-container>

    <ng-template #detailContent>
      <ng-container>
        <relevant-order-detail-content
          [selectedUserId]="selectedTransaction.payer.id"
        ></relevant-order-detail-content>

        <order-detail-summary-content></order-detail-summary-content>
      </ng-container>
    </ng-template>
  </ng-container>
</popup-dialog>
