<p-dialog
  class="flex flex-column p-0"
  [style]="{
    width: 'calc(100vw - 2rem)',
    'max-width': '30rem',
    'overflow-x': 'hidden'
  }"
  header="Detail Order"
  [modal]="true"
  [(visible)]="display"
  (onHide)="onHideDetail()"
>
  <div class="flex flex-column gap-2">
    <div>
      <div class="flex justify-content-between mb-2 text-gray-300 text-sm">
        <p class="p-0 m-0">
          {{ selectedOrder.order_at | date: "fullDate" }}
        </p>
        <p class="p-0 m-0">
          {{ selectedOrder.order_at | date: "shortTime" }}
        </p>
      </div>
      <div class="bg-black-alpha-20 border-round my-1 p-3">
        <p class="text-primary m-0">Order Description</p>
        <p class="my-1 text-sm">{{ selectedOrder.order_description }}</p>
        <p class="text-right text-xs m-0">
          Order by
          <span class="text-pink-200">{{
            selectedOrder.user.username | uppercase
          }}</span>
        </p>
      </div>
    </div>
    <div class="p-1 flex flex-column gap-1">
      <div class="border-bottom-1 border-300 py-2">
        <div class="flex justify-content-between">
          <p class="m-0 text-sm">Order fee</p>
          <p class="m-0 text-sm">
            {{ selectedOrder.total_payment | currency: "Rp. ":"symbol":"3.0" }}
          </p>
        </div>
        <div class="flex justify-content-between">
          <p class="m-0 text-sm">Others fee</p>
          <p class="m-0 text-sm">
            {{ selectedOrder.total_payment | currency: "":"":"3.0" }}
          </p>
        </div>
        <div class="flex justify-content-between text-green-400">
          <div>
            <p class="m-0 text-sm">Discount ({{ selectedOrder.discount }}%)</p>
            <h6 class="m-0 px-1 font-normal text-white">
              *Up to {{ selectedOrder.upto | currency: "":"":"3.0" }}
            </h6>
          </div>
          <p class="m-0 text-sm">
            - {{ selectedOrder.total_payment | currency: "":"":"3.0" }}
          </p>
        </div>
      </div>

      <div class="flex justify-content-between mt-2">
        <p class="m-0 text-base">Total paid</p>
        <p class="m-0">
          {{ selectedOrder.total_payment | currency: "Rp. ":"symbol":"3.0" }}
        </p>
      </div>
    </div>

    <p-fieldset [toggleable]="true" [collapsed]="true">
      <ng-template class="" pTemplate="header"
        ><h5 class="m-0">Sub-orders</h5>
      </ng-template>
      <div class="mb-2 border-bottom-1">
        <h5 class="p-component text-lg font-bold text-primary m-1">
          Sub-Order List
        </h5>
        <div
          *ngFor="let subOrder of selectedOrder.order_list"
          class="order-list-item flex align-items-center border-top-1 py-2 px-0"
        >
          <p class="text-pink-300 text-sm m-0 mr-2">{{ subOrder.qty }}x</p>
          <div
            class="flex gap-5 justify-content-between align-items-center w-full"
          >
            <div>
              <p class="text-sm m-0">{{ subOrder.order_menu_desc }}</p>
              <p class="text-xs m-0">By {{ subOrder.user.username }}</p>
            </div>
            <div>
              <p class="text-sm m-0">
                {{ subOrder.price | currency: "Rp " }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </p-fieldset>
    <div class="bg-black-alpha-20 border-round my-2 p-4">
      <h4 class="m-0 mb-4">
        Your bill in this order to
        <span class="text-pink-200">{{
          selectedOrder.user.username | uppercase
        }}</span>
        :
      </h4>
      <div class="border-bottom-1 border-300 py-1 my-1">
        <div class="flex justify-content-between">
          <p class="m-0 text-sm">Your order fee</p>
          <p class="m-0 text-sm">
            {{ selectedOrder.total_payment | currency: "Rp. ":"symbol":"3.0" }}
          </p>
        </div>
        <div class="flex justify-content-between text-green-400">
          <p class="m-0 text-sm">Discount amout</p>
          <p class="m-0 text-sm">
            - {{ selectedOrder.total_payment | currency: "":"":"3.0" }}
          </p>
        </div>
      </div>
      <div class="flex justify-content-between">
        <p class="m-0">Total to be paid</p>
        <p class="m-0">
          {{ selectedOrder.total_payment | currency: "Rp. ":"symbol":"3.0" }}
        </p>
      </div>
    </div>
    <div class="text-right">
      <button pButton class="p-button text-center">Pay the bill</button>
    </div>
  </div>
</p-dialog>
