::ng-deep .p-dialog .p-dialog-header {
  background: var(--custom-black);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

:host ::ng-deep .p-dialog-header-close-icon {
  background-color: var(--custom-red);
  padding: 0.5rem;
  border-radius: 50%;
  transform: scale(0.8);
}
