<p-messages
  class="message-notification"
  [showTransitionOptions]="'150ms'"
  [hideTransitionOptions]="'150ms'"
></p-messages>
<p-confirmDialog
  class="confirm-dialog"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger"
  acceptIcon=""
  rejectIcon=""
></p-confirmDialog>
<ng-container *ngIf="loadingService.isLoading">
  <loading-overlay></loading-overlay>
</ng-container>
<router-outlet></router-outlet>
