.message-notification {
  margin-inline: 1rem !important;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 9999;
}

:host ::ng-deep .p-confirm-dialog {
  padding: 1rem !important;
}

::ng-deep .p-dialog .p-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

:host ::ng-deep .p-dialog-header-close-icon {
  background-color: var(--custom-red-300);
  padding: 0.5rem;
  border-radius: 50%;
  transform: scale(0.8);
}

:host ::ng-deep .p-confirm-dialog .p-dialog-content {
  padding: 0.5rem 1.5rem !important;
}

:host ::ng-deep .p-dataview-emptymessage {
  text-align: center;
}
