<div class="flex flex-column gap-2 h-screen mx-5">
  <div class="m-0 mb-3 m-5 w-18rem mx-auto">
    <img
      class="w-full h-full"
      style="object-fit: contain; aspect-ratio: 1"
      src="assets/icon-easybill.svg"
      alt=""
    />
  </div>
  <div>
    <form
      class="flex flex-column align-items-center gap-3 mx-auto"
      style="max-width: 21rem;"
      #loginForm="ngForm"
      (ngSubmit)="submitLogin()"
    >
      <h1 class="w-full m-0 font-italic">Login</h1>
      <div class="w-full">
        <div class="mb-2 w-full">
          <input
            class="w-full py-2 my-1"
            pInputText
            type="text"
            name="username"
            [(ngModel)]="user.username"
            placeholder="Username"
          />
        </div>
        <div class="mb-2 w-full">
          <p-password
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
            [(ngModel)]="user.password"
            name="password"
            placeholder="Password"
            [toggleMask]="true"
            [feedback]="false"
          >
          </p-password>
        </div>
      </div>
        <button
          pButton
          class="p-button bg-primary text-white w-9rem mx-auto"
          label="Login"
        ></button>
    </form>
  </div>
</div>
