<p class="m-0 font-semibold">Pay Now</p>
<p class="m-0 text-xs">
  <span>to</span>
  <span>
    <p-avatar
      styleClass="p-mr-2 "
      [style]="{
        'background-color': 'var(--pink-200)',
        color: '#ffffff',
        transform: 'scale(70%)'
      }"
      shape="circle"
      >{{ selectedBill.user.username | uppercase | slice : 0 : 1 }}</p-avatar
    >
  </span>
  <span>{{ selectedBill.user.username | uppercase }}</span>
</p>
<h3 class="m-0 font-italic" style="color: var(--custom-orange-200)">
  {{ selectedBill.owe_amount | currency : "Rp. " : "symbol" : "1.0-0" }}
</h3>
