<p-dialog
  header="Add Sub-Order"
  [(visible)]="display"
  [modal]="true"
  (onHide)="hideDialog()"
>
  <form
    #addSubOrder="ngForm"
    class="flex flex-column p-2 align-items-center"
    (ngSubmit)="submitSubOrder()"
  >
    <div class="mb-2 w-full">
      <p-autoComplete
        [(ngModel)]="subOrder.username"
        name="subOrderBy"
        [suggestions]="filteredUsernames"
        (completeMethod)="search($event.query)"
        placeholder="Order by"
        [required]="true"
      ></p-autoComplete>
    </div>
    <div class="mb-2 w-full">
      <p-inputNumber
        [(ngModel)]="subOrder.price"
        name="subOrderPrice"
        placeholder="Price before discount"
        mode="currency"
        currency="IDR"
        locale="in-IN"
        [ariaRequired]="true"
      ></p-inputNumber>
    </div>
    <div class="mb-2 w-full">
      <input
        [(ngModel)]="subOrder.order_menu_desc"
        name="subOrderMenuDesc"
        type="text"
        pInputText
        placeholder="Description"
        required
      />
    </div>
    <div class="mb-2">
      <p-inputNumber
        [(ngModel)]="subOrder.qty"
        name="qty"
        class="text-center"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="vertical"
        decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [min]="1"
        [max]="9999"
        [size]="1"
        [ariaRequired]="true"
      ></p-inputNumber>
    </div>
    <div class="text-center w-full mt-3">
      <button
        class="border-none border-round-sm bg-primary p-3 w-full"
        [ngClass]="{ 'disabled-btn': addSubOrder.invalid }"
        [disabled]="addSubOrder.invalid"
      >
        Add
      </button>
    </div>
  </form>
</p-dialog>
