<p-dialog
  styleClass="dialog-box"
  [(visible)]="display"
  [modal]="true"
  (onHide)="hideDialog()"
>
  <p-header>
    <h3 class="m-0 p-0">{{ headerTitle }}</h3>
    <h5 class="text-primary font-italic m-0">
      {{ selectedUser.username | uppercase }} Order Detail
    </h5>
  </p-header>
  <form
    #addSubOrder="ngForm"
    class="flex flex-column p-2"
    (ngSubmit)="submitSubOrder()"
  >
    <div class="mb-2 w-full">
      <label for="subOrdermeuDesc" class="font-bold">Description</label>
      <input
        pInputText
        [style]="{ 'margin-block': '0.5rem' }"
        class="w-full py-2"
        [(ngModel)]="selectedSubOrder.order_menu_desc"
        name="subOrderMenuDesc"
        placeholder="Order description"
        maxlength="50"
        required
      />
    </div>
    <div class="flex mb-2 justify-content-between gap-3">
      <div>
        <label for="subOrdermeuDesc" class="font-bold">Price</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon p-2 my-2">Rp</span>
          <p-inputNumber
            [style]="{
              width: '100%',
              'max-width': '7rem',
              'margin-block': '0.5rem'
            }"
            [inputStyle]="{
              width: '100%',
              'max-width': '7rem',
              'padding-block': '0.5rem'
            }"
            [(ngModel)]="selectedSubOrder.price"
            name="subOrderPrice"
            placeholder="Price"
            mode="decimal"
            [min]="100"
            [required]="true"
          ></p-inputNumber>
        </div>
        <p class="m-0 mb-2 text-xs text-gray-300 text-right">
          <span class="m-0 text-red-300">*</span> single item price
        </p>
      </div>
      <div>
        <label for="subOrdermeuDesc" class="font-bold">Qty</label>
        <div>
          <p-inputNumber
            [style]="{
              width: '100%',
              'max-width': '7rem',
              'margin-block': '0.5rem'
            }"
            [inputStyle]="{
              width: '100%',
              'max-width': '7rem',
              'padding-block': '0.5rem',
              'text-align': 'center',
              'padding-inline': '0.1rem'
            }"
            [(ngModel)]="selectedSubOrder.qty"
            name="qty"
            class="text-center"
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="vertical"
            decrementButtonClass="p-2 w-fit text-white bg-bluegray-400"
            incrementButtonClass="p-2 w-fit text-white bg-bluegray-400"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            [min]="1"
            [max]="999"
            [size]="1"
            [required]="true"
          ></p-inputNumber>
        </div>
      </div>
    </div>
    <div class="text-center w-full mt-3">
      <div>{{ selectedSubOrder.order_menu_desc }}</div>
      <div>{{ selectedSubOrder.price }}</div>
      <div>{{ selectedSubOrder.qty }}</div>
      <button
        pButton
        class="p-button-primary py-2 px-7 w-fit"
        [disabled]="
          !selectedSubOrder.order_menu_desc ||
          !selectedSubOrder.price ||
          !selectedSubOrder.qty
        "
      >
        Save
      </button>
    </div>
  </form>
</p-dialog>
