<div class="px-3">
  <bill-header (onTapMenu)="changeDataViewContent($event)"></bill-header>

  <div class="flex flex-column align-items-center gap-2 mt-3">
    <ng-container *ngIf="bills.length > 0; else emptyBillMessage">
      <div *ngFor="let bill of bills" class="w-full h-fit text-center">
        <bill-content [bill]="bill"></bill-content>
      </div>
    </ng-container>

    <ng-template #emptyBillMessage>
      <p>No Bills</p>
    </ng-template>
  </div>
</div>

<popup-dialog *ngIf="billPaymentDialogDisplay | async">
  <ng-container header>
    <payment-dialog-header></payment-dialog-header>
  </ng-container>

  <ng-container content>
    <payment-dialog-content (onPay)="payBill($event)"></payment-dialog-content>
  </ng-container>
</popup-dialog>

<bill-details-dialog
  *ngIf="billDetailsDialogDisplay | async"
></bill-details-dialog>
