<div class="w-full">
  <button pButton label="Back to Home"  type="button" icon="pi pi-chevron-left" iconPos="left" class="p-button-text p-button-sm absolute top-5 left-0" (click)="backToHome()"></button>
  <h1 class="p-component text-center">Add New Order</h1>
  <form #addOrder="ngForm" (ngSubmit)="submitOrder()" class="mt-5 mx-auto w-full p-5 md:w-5" action="">
    <div class="mb-3 w-full">
      <p-autoComplete
        [(ngModel)]="newOrder.username"
        name="orderBy"
        [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
        [suggestions]="filteredUsers"
        (completeMethod)="search($event)"
        placeholder="Order by"
        [required]="true"
      ></p-autoComplete>
    </div>
    <div class="p-inputgroup mb-3 w-full">
      <p-calendar
        [(ngModel)]="currentTime"
        name="orderAt"
        [showTime]="true"
        hourFormat="24"
        [showIcon]="true"
        [required]="true"
      ></p-calendar>
    </div>
    <div class="mb-3 w-full">
      <input
        [(ngModel)]="newOrder.order_description"
        name="orderDescription"
        class="w-full"
        type="text"
        pInputText
        placeholder="Order description"
        required
      />
    </div>
    <div class="mb-3 flex gap-2">
      <div class="p-inputgroup w-full">
        <p-inputNumber
          [(ngModel)]="newOrder.discount"
          name="discount"
          mode="decimal"
          placeholder="Discount"
          [min]="0"
          [max]="100"
          [required]="true"
        ></p-inputNumber>
        <span class="p-inputgroup-addon">%</span>
      </div>
      <div class="p-inputgroup w-full">
        <p-inputNumber
          [(ngModel)]="newOrder.upto"
          name="upto"
          mode="decimal"
          placeholder="Up to amount"
          mode="currency"
          currency="IDR"
          locale="in-IN"
          [min]="0"
          [required]="true"
        ></p-inputNumber>
      </div>
    </div>
    <div class="p-inputgroup mb-3 w-full">
      <p-inputNumber
        [(ngModel)]="newOrder.total_payment"
        name="totalPayment"
        mode="decimal"
        placeholder="Total payment"
        mode="currency"
        currency="IDR"
        locale="in-IN"
        [min]="0"
        [ariaRequired]="true"
      ></p-inputNumber>
    </div>

    <div
      class="card p-component border-round border-1 border-300 px-3 py-2"
      style="background-color: var(--bg-custom-subOrder)"
    >
      <div class="flex justify-content-between py-2">
        <h1 class="p-component text-lg font-bold">Sub-Order List</h1>
        <p-button icon="pi pi-plus" (click)="showAddModal()"></p-button>
      </div>
      <div
        *ngFor="let subOrder of subOrders"
        class="order-list-item flex align-items-center border-top-1 p-2"
      >
        <div class="p-3 text-pink-300 font-bold">{{ subOrder.qty }}x</div>
        <div
          class="flex gap-5 justify-content-between align-items-center w-full"
        >
          <div>
            <div class="order-description">{{ subOrder.order_menu_desc }}</div>
            <div class="text-xs">By {{ subOrder.username }}</div>
          </div>
          <div>
            <div class="order-category">
              {{ subOrder.price | currency: "Rp " }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button
          class="border-none border-round-sm bg-primary p-3 w-5"
          [ngClass]="{'disabled-btn': addOrder.invalid}"
          [disabled]="addOrder.invalid"
        >
          Add New Order
        </button>
    </div>
  </form>
</div>

<p-dialog header="Add Sub-Order" [(visible)]="display" [modal]="true">
  <form #addSubOrder="ngForm" (ngSubmit)="submitSubOrder()" class="flex flex-column p-2 align-items-center">
    <div class="mb-2 w-full">
      <p-autoComplete
      [(ngModel)]="newSubOrder.username"
      name="subOrderBy"
        [suggestions]="filteredUsers"
        (completeMethod)="search($event)"
        placeholder="Order by"
        [required]="true"
      ></p-autoComplete>
    </div>
    <div class="mb-2 w-full">
      <p-inputNumber
        [(ngModel)]="newSubOrder.price"
        name="subOrderPrice"
        placeholder="Price before discount"
        mode="currency"
        currency="IDR"
        locale="in-IN"
        [ariaRequired]="true"
      ></p-inputNumber>
    </div>
    <div class="mb-2 w-full">
      <input
        [(ngModel)]="newSubOrder.order_menu_desc"
        name="subOrderMenuDesc"
        type="text"
        pInputText
        placeholder="Description"
        required
      />
    </div>
    <div class="mb-2">
      <p-inputNumber
        [(ngModel)]="newSubOrder.qty"
        name="qty"
        class="text-center"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="vertical"
        decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [min]="0"
        [max]="9999"
        [size]="1"
        [ariaRequired]="true"
      ></p-inputNumber>
    </div>
    <div class="text-center w-full mt-3">
      <button
        class="border-none border-round-sm bg-primary p-3 w-full"
        [ngClass]="{'disabled-btn': addSubOrder.invalid}"
        [disabled]="addSubOrder.invalid"
      >
        Add
      </button>
    </div>
  </form>
</p-dialog>
