<div class="w-full px-3 mt-3">
  <div class="flex align-items-center gap-3">
    <button
      pButton
      class="p-button-sm p-button-danger p-button-raised p-button-rounded p-0"
      type="button"
      icon="pi pi-chevron-left"
      iconPos="left"
      (click)="backToHome()"
    ></button>
    <h1 class="font-italic">Add New Order</h1>
  </div>

  <form
    #addOrder="ngForm"
    class="mx-auto w-full px-5 py-2 lg:w-6"
    (ngSubmit)="showSaveOrderConfirmation()"
  >
    <div class="mb-3 w-full">
      <label for="orderBy" class="font-bold">Order by</label>
      <p-autoComplete
        [style]="{ width: '100%', 'margin-block': '0.5rem' }"
        [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
        name="orderBy"
        [(ngModel)]="newOrder.username"
        [suggestions]="filteredUsernames"
        (completeMethod)="filterUsername($event.query)"
        [required]="true"
        placeholder="Order by"
      ></p-autoComplete>
    </div>

    <div class="mb-3 w-full">
      <label for="orderDescription" class="font-bold">Description</label>
      <input
        pInputText
        [style]="{ 'margin-block': '0.5rem' }"
        class="w-full py-2"
        type="text"
        name="orderDescription"
        [(ngModel)]="newOrder.order_description"
        placeholder="Order description"
        required
      />
    </div>

    <div class="mb-3 w-full">
      <label for="orderAt" class="font-bold">Order time</label>
      <p-calendar
        [style]="{ width: '100%', 'margin-block': '0.5rem' }"
        [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
        name="orderAt"
        [(ngModel)]="currentTime"
        [showTime]="true"
        hourFormat="24"
        [showIcon]="true"
        [required]="true"
      ></p-calendar>
    </div>

    <div class="mb-3 w-full flex flex-column">
      <label for="totalPayment" class="font-bold">Total Payment</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon p-2 my-2">Rp</span>
        <p-inputNumber
          [style]="{ width: '100%', 'margin-block': '0.5rem' }"
          [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
          name="totalPayment"
          [(ngModel)]="newOrder.total_payment"
          mode="decimal"
          [min]="0"
          [required]="true"
          placeholder="Total payment"
        ></p-inputNumber>
      </div>
    </div>

    <div class="mb-3">
      <label for="discount" class="font-bold">Discount</label>
      <div class="flex flex-column gap-0 align-items-center sm:flex-row sm:gap-2">
        <div class="p-inputgroup">
          <p-inputNumber
            [style]="{ 'margin-block': '0.5rem' }"
            [inputStyle]="{ 'padding-block': '0.5rem' }"
            name="discount"
            [(ngModel)]="newOrder.discount"
            mode="decimal"
            [min]="0"
            [max]="100"
            [required]="true"
            placeholder="Discount"
          ></p-inputNumber>
          <span class="p-inputgroup-addon p-2 my-2">%</span>
        </div>
        <p class="m-0 w-7rem text-center text-sm">up to</p>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon p-2 my-2">Rp</span>
          <p-inputNumber
            [style]="{ 'margin-block': '0.5rem' }"
            [inputStyle]="{ 'padding-block': '0.5rem' }"
            name="upto"
            [(ngModel)]="newOrder.upto"
            mode="decimal"
            [min]="0"
            [required]="true"
            placeholder="Max discount"
          ></p-inputNumber>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="discount" class="font-bold">Order Details</label>
      <div class="w-full text-center">
        <button
          pButton
          type="button"
          class="p-button-sm p-button-secondary"
          icon="pi pi-plus"
          (click)="showAddUserDialog()"
        ></button>
      </div>
    </div>
    <div
      *ngIf="participants.length > 0"
      class="card p-component border-round border-1 border-300"
      style="background-color: var(--bg-custom-subOrder)"
    >
      <div
        *ngFor="let user of participants; let participantIndex = index"
        [attr.data-index]="participantIndex"
        class="pb-1"
      >
        <div class="flex align-items-center justify-content-between py-2 px-2 bg-gray-700 border-round">
          <div>
            <span>
              <p-avatar
                styleClass="p-mr-2 "
                [style]="{
                  'background-color': 'var(--pink-200)',
                  color: '#ffffff',
                  transform: 'scale(70%)'
                }"
                shape="circle"
                >{{ user.username | uppercase | slice: 0:1 }}</p-avatar
              >
            </span>
            <span>{{ user.username | uppercase }}</span>
          </div>
          <div class="flex">
            <button
              pButton
              type="button"
              class="p-button-sm p-button-primary p-2 w-fit"
              icon="pi pi-plus"
              label="Add sub-order"
              (click)="showAddSubOrderDialog(user)"
            ></button>
            <button
              pButton
              type="button"
              class="p-button-sm p-button-link p-button-danger text-red-300"
              icon="pi pi-trash"
              (click)="showDeleteParticipantConfirmation(user.username, participantIndex)"
            ></button>
          </div>
        </div>
        <div
          *ngFor="let subOrder of user.sub_order_list; let subOrderIndex = index"
          class="flex border-top-1 border-300 py-1 pl-3"
        >
          <div class="p-3 text-pink-300 font-bold w-4rem">{{ subOrder.qty }}x</div>
          <div
            class="flex gap-5 justify-content-between align-items-center w-full"
          >
            <div>
              <div class="order-description">
                {{ subOrder.order_menu_desc }}
              </div>
              <div class="text-xs">By {{ subOrder.username }}</div>
            </div>
            <div class="flex align-items-center gap-3">
              <div>
                {{ subOrder.price * subOrder.qty | currency: "Rp " }}
              </div>
              <div class="border-left-1">
                <button
                  pButton
                  class="p-button-sm p-button-link"
                  [style]="{
                    'padding-block': '0.5rem',
                    'padding-inline': '1rem',
                    width: 'fit-content'
                  }"
                  type="button"
                  icon="pi pi-pencil"
                  (click)="showEditSubOrderDialog(user, subOrder)"
                ></button>
                <button
                  pButton
                  class="p-button-sm p-button-link p-button-danger text-red-300"
                  [style]="{
                    'padding-block': '0.5rem',
                    'padding-inline': '1rem',
                    width: 'fit-content'
                  }"
                  type="button"
                  icon="pi pi-trash"
                  (click)="showDeleteSubOrderConfirmation(user, subOrderIndex)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button
        pButton
        class="p-button-primary py-3 px-8 w-fit"
        [disabled]="addOrder.invalid"
      >
        Add New Order
      </button>
    </div>
  </form>
</div>

<dialog-add-user-form
  *ngIf="addUserDisplay"
  [filteredUsernames]="filteredUsernames"
  [users]="users"
  [participants]="participants"
  (onSearchKeyChange)="filterUsername($event)"
  (onSubmit)="showAddSubOrderDialog($event)"
  (onClose)="hideDialog()"
></dialog-add-user-form>

<dialog-add-sub-form
  *ngIf="addSubOrderDisplay"
  [filteredUsernames]="filteredUsernames"
  [users]="users"
  [modalType]="modalType"
  [selectedUser]="selectedUser"
  [selectedSubOrder]="selectedSubOrder"
  (onSearchKeyChange)="filterUsername($event)"
  (onSubmit)="hideDialog()"
  (onClose)="hideDialog()"
></dialog-add-sub-form>
