@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
}

:root {
  --bg-custom-subOrder: #1e1e1e;
  --custom-light-blue: #b3eced;
  --custom-light-green: #b5eadb;
  --custom-cyan: #55d1d8;
  --custom-cream: #fff2e2;
  --custom-red: #fe8062;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
