<p-dialog
  [contentStyle]="{ minHeight: '17rem' }"
  header="Add Participant"
  [(visible)]="display"
  [modal]="true"
  (onHide)="hideDialog()"
>
  <form
    #addSubOrder="ngForm"
    class="flex flex-column p-2 align-items-center"
    (ngSubmit)="addParticipant()"
  >
    <div class="mb-1 w-full">
      <label for="subOrderBy" class="font-bold">Person</label>
      <div>
        <p-autoComplete
          [style]="{
            width: '100%',
            'margin-block': '0.5rem'
          }"
          [inputStyle]="{ width: '100%', 'padding-block': '0.5rem' }"
          name="subOrderBy"
          [(ngModel)]="username"
          [suggestions]="filteredUsernames"
          (completeMethod)="search($event.query)"
          placeholder="Username"
          [required]="true"
        ></p-autoComplete>
      </div>
    </div>
    <div class="text-center w-full">
      <button
        pButton
        class="p-button-primary py-2 px-7 w-fit"
        [disabled]="addSubOrder.invalid"
      >
        Next
      </button>
    </div>
  </form>
</p-dialog>
