<div class="flex mb-2" style="min-width: 22rem">
  <ng-container *ngIf="!isEditing; else editingSection">
    <div
      class="flex align-items-center justify-content-center px-2 overflow-hidden border-3 border-round-left-lg text-gray-900 font-semibold"
      style="
        max-width: 6rem;
        width: 6rem;
        border-color: var(--custom-orange-300);
        background: var(--custom-orange-300);
      "
    >
      <p
        class="w-full text-sm text-overflow-ellipsis overflow-hidden"
        [pTooltip]="paymentAccount.payment_account_label"
        tooltipPosition="top"
      >
        {{ paymentAccount.payment_account_label }}
      </p>
    </div>
    <div
      class="flex align-items-center justify-content-center gap-3 border-round-right-lg px-3 flex-1"
      style="background: var(--custom-light-black)"
    >
      <div class="flex align-items-center justify-content-between flex-1">
        <p class="m-0">{{ paymentAccount.payment_account }}</p>
        <div class="flex align-items-center gap-2">
          <copy-button
            [stringToBeCopy]="paymentAccount.payment_account"
          ></copy-button>
          <button
            pButton
            class="icon-btn w-fit px-1"
            style="background: none; color: var(--custom-blue-200)"
            icon="pi pi-user-edit"
            type="button"
            (click)="edit()"
          ></button>
          <button
            pButton
            class="icon-btn w-fit text-red-500 px-1"
            style="background: none"
            icon="pi pi-times"
            type="button"
            (click)="delete()"
          ></button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #editingSection>
    <div
      class="w-full flex justify-content-between border-round-lg px-3 py-1"
      style="background: var(--custom-light-black)"
    >
      <form class="flex gap-3" #form="ngForm">
        <input
          pInputText
          [style]="{ 'margin-block': '0.5rem' }"
          class="w-5rem py-2"
          name="accountLabel"
          [(ngModel)]="paymentAccountInAction.payment_account_label"
          minlength="1"
          maxlength="15"
          placeholder="Label"
          required
        />
        <input
          pInputText
          [style]="{ 'margin-block': '0.5rem' }"
          class="w-10rem py-2"
          name="accountNumber"
          [(ngModel)]="paymentAccountInAction.payment_account"
          [pKeyFilter]="accountNumberRegex"
          minlength="5"
          maxlength="15"
          placeholder="Account number"
          required
        />
      </form>

      <div class="flex align-items-center gap-2">
        <button
          pButton
          class="icon-btn w-fit text-green-500 px-1"
          style="background: none"
          icon="pi pi-check"
          type="button"
          (click)="save()"
          [disabled]="form.invalid"
        ></button>
        <button
          pButton
          class="icon-btn w-fit text-red-500 px-1"
          style="background: none"
          icon="pi pi-refresh"
          type="button"
          (click)="cancel()"
        ></button>
      </div>
    </div>
  </ng-template>
</div>

<popup-dialog *ngIf="passwordConfirmationDialogDisplay" (onHide)="hideDialog()">
  <ng-container header>
    <h3 class="m-0 p-0">Password</h3>
  </ng-container>

  <ng-container content>
    <password-confirmation-form
      [errors]="errors"
      (onSubmit)="paymentAccountAction($event)"
    ></password-confirmation-form>
  </ng-container>
</popup-dialog>
