<popup-dialog>
  <ng-container header>
    <ng-container *ngIf="!(isDetailSection | async); else detailSection">
      <p class="m-0 text-xs">
        <span *ngIf="isPayable">Your bill to</span>
        <span>
          <p-avatar
            styleClass="p-mr-2 font-bold"
            [style]="{
              'background-color': 'var(--custom-green-100)',
              color: 'black',
              transform: 'scale(70%)'
            }"
            shape="circle"
            >{{
              selectedBill.user.username | uppercase | slice : 0 : 1
            }}</p-avatar
          >
        </span>
        <span
          >{{ selectedBill.user.username | uppercase }}
          <span *ngIf="!isPayable">bill to you</span>
        </span>
      </p>
      <h3 class="m-0 font-italic" style="color: var(--custom-green-300)">
        {{ selectedBill.owe_amount | currency : "Rp. " : "symbol" : "1.0-0" }}
      </h3>
    </ng-container>

    <ng-template #detailSection>
      <button
        pButton
        class="button-no-outline p-button-link p-button-sm w-fit p-0 text-left outline-none my-2"
        label="back"
        (click)="backToRelatedOrders()"
      ></button>
      <order-detail-header></order-detail-header>
    </ng-template>
  </ng-container>

  <ng-container content>
    <ng-container *ngIf="!(isDetailSection | async); else detailOrder">
      <div
        *ngFor="let order of selectedBill.related_order_header; let i = index"
      >
        <div [class.border-top-1]="i > 0" class="w-full px-3 pt-2 pb-1">
          <bill-related-order-content
            [order]="order"
          ></bill-related-order-content>
        </div>
      </div>
    </ng-container>

    <ng-template #detailOrder>
      <relevant-order-detail-content
        [selectedUserId]="isPayable ? authUser.id : selectedBill.user.id"
      ></relevant-order-detail-content>
      <order-detail-summary-content></order-detail-summary-content>
    </ng-template>
  </ng-container>
</popup-dialog>
